* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

.first-section {
    background-color: #0F0F0F;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    /* border-bottom: 1px solid rgb(59, 59, 59); */
    padding: 20px;
}

.navbar {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.footer-logo {
    letter-spacing: 8px;
    font-size: 20px;
    font-weight: 600;
}

.nav-links a,
.footer-g3 a {
    text-decoration: none;
    color: #ffff;
}

.nav-links a:hover,
.footer-g3 ul a:hover {
    color: #FFB800;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-icons {
    fill: #ffff;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-icons a {
    fill: #ffff;
}

.profile-icon:hover,
.cart-icon:hover {
    fill: #FFB800;
}

.cart-icon {
    width: 30px;
    height: 30px;
}

.profile-icon {
    width: 35px;
    height: 35px;
}

.spotlight {
    flex: 1;
    position: relative;
    padding: 200px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
    font-size: 55px;
    text-align: center;
    z-index: 1;
}

.stellar {
    color: #FFB800;
}

.brownie {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: 0;
}

.bestsellers,
.categories,
.products {
    background-color: #0F0F0F;
    padding: 100px 20px 0px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 600;
}

.bestseller1 {
    background-color: #0F0F0F;
    padding: 100px 20px;
}

.bs-card {
    max-width: 1180px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 100px;
}

.bs-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bs-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
}

.bs-desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}

.bs-order-button {
    background-color: #D1AB47;
    font: inherit;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 8px 60px;
    cursor: pointer;
}

.bs-order-button:hover {
    background-color: #9b7a28;
    font-weight: 600;
}

.bs-img-container {
    position: relative;
    height: 300px;

}

.bs-img-container img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.bestseller2 {
    background-color: #D1AB47;
    padding: 100px 20px;
}

.bestseller2 .bs-info {
    color: #0F0F0F;
}

.bestseller2 .bs-order-button {
    background-color: #191818;
    color: #ffffff;
    font: inherit;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 8px 60px;
    cursor: pointer;
}

.bestseller2 .bs-order-button:hover {
    background-color: #0F0F0F;
    font-weight: 600;
}

.third-section {
    background-color: #0F0F0F;
    padding: 100px 20px;
    text-align: center;
}

.categories {
    padding: 0px 20px 100px;
}

.categories-container {
    max-width: 1180px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 30px;
}

.category-card {
    background-color: #191818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
}

.categories-container a {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    font-weight: 400;
}

.categories-container a:hover {
    color: #FFB800;
}

.third-section img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.third-section .bs-order-button {
    width: 300px;
    margin-top: 50px;
}

.fourth-section {
    background-color: #0F0F0F;
    padding: 0px 20px 100px;
}

.products {
    padding: 0px 20px 100px;
}

.products-container {
    max-width: 1700px;
    margin: auto;
    display: flex;
    gap: 42px;
    padding-bottom: 30px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

::-webkit-scrollbar {
    /* width: 10px; */
    background: #0F0F0F;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #191818; 
    border-radius: 10px;
}
  
.products-container:hover::-webkit-scrollbar-thumb {
    background: #3f3d3d;
    border-radius: 10px;
}

.product-card {
    border: 2px solid #3f3d3d;
    padding: 40px;
    border-radius: 10px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.product-card:hover .product-name{
    color: #D1AB47;
}

.fourth-section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-name {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
}

.product-price {
    font-size: 20px;
    font-weight: 600;
}

.product-description{
    font-size: 18px;
    font-weight: 300;
}

.product-button {
    background-color: #D1AB47;
    font: inherit;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 8px 60px;
    cursor: pointer;
    width: 100%;
}

.product-button:hover{
    background-color: #9b7a28;
    font-weight: 600;
}

.fifth-section {
    background-color: #D1AB47;
    padding: 100px 20px;
}

.about-container {
    max-width: 1180px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 50px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0F0F0F;
    text-align: center;
}

.about-us {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.about-desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sixth-section {
    background-color: #0F0F0F;
    padding: 50px 20px;
}

.footer {
    max-width: 1180px;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.footer-g1 {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    font-size: 30px;
}

.contact-icons a~a {
    margin-left: 15px;
}

.footer-g2 {
    width: 200px;
}

.footer-about,
.footer-qlinks {
    font-size: 20px;
    font-weight: 500;
    color: #FFB800;
    margin-bottom: 10px;
}

.footer-g3 {
    display: flex;
    flex-direction: column;
}

ul {
    flex: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer a {
    align-self: center;
}