* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

.first-section {
    background-color: #040505;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    /* make it sticky */
    border-bottom: 1px solid rgb(59, 59, 59);
    padding: 20px;
}

.navbar {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.nav-links a {
    text-decoration: none;
    color: #ffff;
}

.nav-links a:hover {
    color: #FFB800;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-icons {
    fill: #ffff;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-icons a {
    fill: #ffff;
}

.profile-icon:hover,
.cart-icon:hover {
    fill: #FFB800;
}

.cart-icon {
    width: 30px;
    height: 30px;
}

.profile-icon {
    width: 35px;
    height: 35px;
}

/* .signup {
    font: inherit;
    background-color: #FFB800;
    border: none;
    border-radius: 1.5em;
    padding: 0.5em 2em;
    cursor: pointer;
}

.signup:hover {
    background-color: #e4a300;
    color: #ffff;
} */

.spotlight {
    flex: 1;
    position: relative;
    padding: 200px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
    font-size: 40px;
    text-align: center;
    z-index: 1;
}

.stellar {
    color: #FFB800;
}

.brownie {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: 0;
}